<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EventsEverywhere Starting Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/main.css}"
          href="../../css/main.css"/>

</head>
<style>
    th, td {
        font-size: medium;
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
</style>
<body>
<div th:insert="fragments/header"></div>

<div class="container">
    <table style="width:100%; background: burlywood;">
        <tr>
            <td style="border-right: 2px solid #ddd; border-bottom: 0px" th:each="event: ${events}">
                <table>
                    <tr>
                        <th>Name:</th>
                        <td>
                            <b><a th:text="${event.getName()}" th:href="|/eventInfo/${event.getId()}|"></a></b>
                        </td>
                    </tr>
                    <tr>
                        <th>Date:</th>
                        <td th:text="${event.getDate()}"></td>
                    </tr>
                    <tr>
                        <th>Time:</th>
                        <td th:text="${event.getTime()}"></td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td th:text="${event.getAddress()}"></td>
                    </tr>
                    <tr>
                        <th>Organiser:</th>
                        <td th:text="${event.getUserEntity().getFirstName()}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>