<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EventsEverywhere Starting Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/main.css}"
          href="../../css/main.css" />

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">EventsEverywhere</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ><a href="#">Find Events</a></li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/myAccount">My account</a></li>
                <li ><a href="/create">Create new Event</a></li>
                <li ><a href="/register">Register</a></li>
                <li ><a href="/login">Login</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Welcome to EventsEverywhere!</h1>
    </div>
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </div> <br/>

</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>